<h1>WE ARE QMICS!</h1>

<p>Our mission is to help people arround the world to put their hands on most desirable vintage comics</p>
<p>We are the largest vintage comics store, with us you can purchase your desired comics, leave a review and more!</p>
<form action="/map" method="post"><button>Get in Touch</button></form>