<div class="aboutcon">
    <h2>WE ARE QMICS!</h2>
    <div class="spinner-box">
        <div class="blue-orbit leo">
        </div>

        <div class="green-orbit leo">
        </div>
        
        <div class="red-orbit leo">
        </div>
        
        <div class="white-orbit w1 leo">
        </div><div class="white-orbit w2 leo">
        </div><div class="white-orbit w3 leo">
        </div>
    </div>
</div>
<p>Our mission is to help people around the world to put their hands on most desirable vintage comics</p>
<p>We are the largest vintage comics store, with us you can purchase your desired comics, leave a review and more!</p>




<form action="/map" method="post"><button>Get in Touch</button></form>