<div class="checkout-container">
    <img src="/images/pago-online-compra-exitosa-mujer-nina-regocija-exito-confirmacion-pedido-comprar-cosas-productos-tienda-linea-telefono-inteligente_180816-410__1_-removebg-preview.png" alt="">
</div>
