{{!-- Display the map--}}
<div class="location" id="map"></div>

{{!-- Create hidden elements to store the display style of the map--}}
<div class="hidden map-center"> {{mapCenter}}  </div>
<div class="hidden map-zoom">  {{mapZoom}}  </div>

{{!-- Create hidden element to stroe the position of the marker --}}
<div class="hidden pos">  {{location}}  </div>

<div class="marker"></div>